Repository eventlet/eventlet, pull requests merged in 2024-03, with the labels that each got.

#941 Update changelog for version 0.36.0
  NEWS
Labels: release

#947 [trivial] linkage awesome-asyncio into our migration guide
  doc/source/migration.rst
Labels: doc, asyncio

#944 [doc] clean remnant refs to the pyevent removed hub
  doc/source/reference/api/eventlet.hubs.rst
Labels: deprecation, doc

#949 eventlet.websocket is not always used from eventlet.wsgi, so do not assume `eventlet.set_idle` exists
  eventlet/websocket.py
Labels: feature-wsgi, bug
