Repository eventlet/eventlet, pull requests merged in 2024-02, with the labels that each got.

#905 [Fix] shrinks window before connecting
  tests/greenio_test.py
Labels: tests, bug

#915 clean obsolete python 2 code from the ssl module
  eventlet/green/ssl.py
Labels: deprecation

#918 add asyncio into the doc hub page
  doc/source/hubs.rst
Labels: doc

#916 for eventlet issue 913 - Dnspython 2.6.0rc1 dns.query.udp() API chang…
  eventlet/support/greendns.py
Labels: security
